<footer class="bg-dark text-white py-4">
    <div class="container">
        <hr class="my-4 border-secondary">
        <div class="d-flex">
            <div class="m-auto d-flex gap-4">
                <a href="https://github.com/Hyromy" target="_blank" class="text-light" title="GitHub">
                    <i class="bi bi-github fs-1"></i>
                </a>
                <a href="https://discord.com/users/608870766586494976" target="_blank" class="text-light" title="Discord">
                    <i class="bi bi-discord fs-1"></i>
                </a>
                <a href="https://www.linkedin.com/in/joel-gonzalez-cruz" target="_blank" class="text-light" title="LinkedIn">
                    <i class="bi bi-linkedin fs-1"></i>
                </a>
                <a href="mailto:formulajoel9@gmail.com" class="text-light" title="Email">
                    <i class="bi bi-envelope fs-1"></i>
                </a>
            </div>
        </div>
        <hr class="my-4 border-secondary">
        <div class="d-flex">
            <small class="text-light opacity-75 m-auto">Made with <span id="footer-emoji"></span><span id="footer-cursor"></span> by Hyromy</small>
        </div>
    </div>
</footer>