{% load static %}

<nav class="navbar bg-body-tertiary navbar-expand-sm px-2">
    <div class="container-fluid d-flex justify-content-between">
        <button class="navbar-toggler border-0 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="bi bi-list fs-1"></i>
        </button>
        <a class="navbar-brand d-flex align-items-center m-0" href="#">
            <img src={% static "media/img/favicon-48.ico" %} width="48" class="d-inline-block align-text-top rounded">
            <span class="d-none d-sm-inline ps-2">Hyromy</span>
        </a>
        <div class="offcanvas offcanvas-start ps-2" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú de navegación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre mí</a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="btn d-flex align-items-center p-2" id="themeBtn" type="button">
            <i class="bi fs-1"></i>
        </button>
    </div>
</nav>